<html>
  <head>
    <meta charset='utf-8'>
  </head>
  <body>
    <h1>Meals Options</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Time</th>
      </thead>
      <tbody>
        {{# meals }}
          <tr>
            <td>{{& name }}</td>
            <td>{{& description }}</td>
            <td>{{& type }}</td>
          </tr>
        {{/ meals }}
      </tbody>
    </table>
  </body>
</html>
